<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "items_top" , :media=> "all" %>
</head>

<body>
  <main>
    <div class="relative mx-auto max-w-screen-xl p-6">
      <div class="grid grid-cols-1 items-start gap-9 md:grid-cols-2">
        <div>
          <%= image_tag @product.image, class: "aspect-square w-full rounded-xl object-cover" %>
        </div>
        <div class="sticky top-0">
          <div class="flex flex-col justify-between">
            <div class="flex justify-between mb-6">
              <div class="max-w-[35ch]">
                <h1 class="text-2xl font-bold">
                  <%= @product.name %>
                </h1>
              </div>
              <p class="text-2xl font-bold">
                <%= number_to_currency(@product.price, unit: "¥" , strip_insignificant_zeros: true) %>
              </p>
            </div>
            <div class="mb-3">
              <p>
                <%= @product.description %>
              </p>
            </div>
            <%= form_with model: @cart_item, data: { turbo: false } do |f| %>
              <%= f.hidden_field :product_id, :value=> @product.id %>
              <%= f.label :quantity, "数量" %>
              <%= f.select :quantity, (1..10).to_a %>
              <%= f.label :fragrance_id, "香り" %>
              <%= f.select :fragrance_id, options_for_select(@fragrances.map { |fragrance| [fragrance.name, fragrance.id] }), {selected: 1} %>
              <%= f.submit "カートに入れる" , class:"w-full cursor-pointer focus:outline-none text-white bg-green-700
                    hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2
                    mb-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="second-view-container">
      <% @fragrances.each do |fragrance| %>
        <div class="fravor">
          <%= link_to fragrance_path(fragrance) do %>
            <%= image_tag fragrance.image %>
            <dl>
              <dt><%= fragrance.name %></dt>
              <dd><%= fragrance.description %></dd>
            </dl>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
</body>

</html>