<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "items_top" , :media=> "all" %>
</head>

<body>
<main>
    <div class="first-view-container">
      <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
      <div class="item-description">
        <dl>
          <dt>SEA CANDLE</dt>
          <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
        </dl>
        <dl>
          <dt>数量</dt>
          <dd>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>香り</dt>
          <dd>
            <select>
              <option>オレンジスイート</option>
              <option>ベルガモット</option>
              <option>シトラス</option>
            </select>
          </dd>
        </dl>
        <p>￥400(税込)</p>
        <div class="cart-area">
          <a href="">
            <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
            <p>カートに入れる</p>
          </a>
        </div>
      </div>
    </div>
    <div class="second-view-container">
      <h2>香り</h2>
      <div class="fravor-container">
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
        <div class="fravor">
          <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
          <dl>
            <dt>ベルガモット</dt>
            <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました</dd>
            <a href="">
              <p>more</p>
            </a>
          </dl>
        </div>
      </div>
    </div>
  </main>
</body>

</html>