<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "items_top" , :media=> "all" %>
</head>

<body>
  <main>
    <div class="first-view-container">
      <div class="image-container">
        <%= link_to image_tag("candle/candle 02.webp"), "items" , class: "items01" %>
          <%= link_to image_tag("candle/candle 50.jpg"), "items" , class: "items01" %>
      </div>
      <div class="text-container">
        <div class="first-text">
          <p>①.素材は2種類</p>
        </div>
        <p class="second-text">×</p>
        <div class="third-text">
          <p>②.香りは10種類</p>
        </div>
      </div>
    </div>
    <div class="second-view-container">
      <%= link_to image_tag("candle/candle 51.jpg"), "items"  %>
      <p>・香りお試し用</p>
    </div>
    <div class="third-view-container">
      <%= link_to image_tag("candle/candle 02.webp"), "items"  %>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <%= link_to image_tag("candle/candle 50.jpg"), "items"  %>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <%= link_to image_tag("candle/candle 03.webp"), "items"  %>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <%= link_to image_tag("candle/candle 22.webp"), "items"  %>
      <%= link_to image_tag("candle/candle 04.jpg"), "items"  %>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <%= link_to image_tag("candle/candle 43.jpg"), "items"  %>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <%= link_to image_tag("candle/candle 06.webp"), "items" %>
      <dl>
        <dt>SEA CANDLE</dt>
        <dd>海をイメージしたジェルワックスに貝殻やヒトデを埋め込みました.</dd>
        <p>￥400</p>
      </dl>
      <%= link_to image_tag("candle/candle 19.webp"), "items"  %>
    </div>
  </main>
</body>

</html>