<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "about_beatiful" , :media=> "all" %>
</head>

<body>
  <main>
    <div class="first-view">
      <h2>美しさを追及して</h2>
      <p>RaMNでは、美しさを追求することに情熱を傾けています。私たちのキャンドルは、その美しいデザインで多くの人々を魅了しますーー。どんなシーンでも、心を豊かに彩り、瞬間を特別なものにするための一輪の輝きとなるのです。</p>
      <%= link_to image_tag("candle/candle 05.webp"), "items" , class: "items01" %>
    </div>
    <div class="second-view">
      <h2>1/fの揺らぎの炎</h2>
      <p>
        RaMNのキャンドルは、美しさを追求する中で特別な炎の揺らぎを実現しています。その揺らぎは、数学的なパターンである「1/fの揺らぎ」と呼ばれるものです。この特徴的な揺らぎが、キャンドルの光景に独自の美しさと魅力をもたらしています。
        1/fの揺らぎは、自然界や芸術、音楽など様々な領域で見られる現象です。この揺らぎは、人間の感覚にとって心地よく、リラックス効果をもたらすことが知られています。RaMNのキャンドルの炎の揺らぎも、まさにこの1/fの揺らぎに従っています。
        炎の揺らぎが1/fの揺らぎを持つことで、キャンドルの光景はより自然で魅力的なものになります。炎がゆっくりと揺れ動き、微細な変化が連続して現れる様子は、視覚にとって心地よいリズムとなります。この揺らぎは、私たちの目にやさしく、心を穏やかにしてくれるのです。
      </p>
      <%= link_to image_tag("candle/candle 12.jpg"), "items" , class: "items01" %>
    </div>
    <div class="third-view">
      <h2>刻々と変化するデザイン</h2>
      <p>私たちのキャンドルは、刻々と形を変えるデザインが特徴であり、その変化によって驚きと魅力を生み出します。
        キャンドルが燃えていく過程で、形や模様が瞬時に変わっていく光景は、まさに芸術的な表現です。火がキャンドルに触れると、ろうが溶け、独自の模様やシルエットが生まれます。その変化は予測できないものであり、一つ一つのキャンドルが独自の姿を持つことを意味しています。
        RaMNのキャンドルは、職人の手によって丁寧に作られています。キャンドルの形状やデザインは、独自のアートピースのように見えることもあります。しかし、一度火が灯されると、それは時間とともに変化し続ける芸術作品となるのです。その刻々と変わるデザインは、まるで生命の息吹を感じさせるようです。
        RaMNのキャンドルの刻々と変化するデザインは、空間に奥行きと魅力を与えます。光と影が織り成す模様やシルエットは、目を引き、心を魅了します。また、変化するデザインは一期一会の特別な体験を提供し、キャンドルが持つ美しさを一層引き立てるのです。
        美しさを追求するRaMNのキャンドルは、刻々と変化するデザインによって、独自の魅力と芸術的な表現を生み出します。ぜひ、その美しい変化を目で楽しみ、心で感じてください。RaMNのキャンドルが提供する驚きと美しさは、日常に特別な輝きと魅力を与えてくれることでしょう。
      </p>
      <%= link_to image_tag("candle/candle 49.jpg"), "items" , class: "items01" %>
    </div>
    <div class="fifth-view">
      <dl>
        <dt>ー光と香りの融合ー</dt>
        <dd>
          燃えるキャンドルの柔らかな光は、周囲の空間を温かく照らし出し、穏やかな雰囲気を醸し出します。さらに、豊かな香りが広がり、心地よいアロマ効果を提供します。リラックスした時間を過ごしたり、特別な瞬間を演出するのに最適です。
        </dd>
      </dl>
      <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
        <p>ぜひ、RaMNのキャンドルをご体験いただき、その魅力に包まれる贅沢なひとときをお楽しみください。</p>
    </div>
  </main>
</body>

</html>