<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RaMN official website</title>
  <meta name="description" content="キャンドル専門店のRaMNのウェブサイトです">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "about_fravor" , :media=> "all" %>
</head>

<body>
  <main>
    <div class="first-view">
      <h2>癒しの香りを求めて</h2>
      <p>癒しの香りは、私たちの心と体をリラックスさせ、日々のストレスから解放してくれる特別な存在です。RaMNでは、そんな癒しの香りを追求し、お客様に心地よい癒しのひとときを提供しています。</p>
      <%= link_to image_tag("photo/photo 02.jfif"), "items" , class: "items01" %>
    </div>
    <div class="second-view">
      <h2>厳選された素材と独自のブレンド</h2>
      <p>
        当店のキャンドルは、厳選された素材と独自のブレンドによって生み出されます。自然のエッセンスや精油を組み合わせ、穏やかで心地よい香りを創り出しています。フローラル、シトラス、ウッディ、スパイシーなど、さまざまな香りがラインナップされており、お客様の好みや目的に合わせた選択が可能です。
      </p>
      <div class="image-container">
        <div class="item01">
            <%= link_to image_tag("photo/photo 01.jfif"), "items" %>
        </div>
        <div class="item02">
            <%= link_to image_tag("photo/photo 19.jpg"), "items"  %>
        </div>
        <div class="item03">
            <%= link_to image_tag("photo/photo 01.jpg"), "items"  %>
        </div>
      </div>
    </div>
    <div class="third-view">
      <h2>香りに覆われる</h2>
      <p>
        RaMNのキャンドルの香りは、燃えると優雅に広がり、空間全体を包み込みます。その香りに包まれた環境は、自然と心を落ち着かせ、ストレスを解消してくれるでしょう。忙しい日常を忘れ、癒しのひとときを過ごすための最適な手段となるのです。
        私たちのキャンドルは、さまざまな場面で癒しを提供します。疲れた心身を癒すリラックスタイム、瞑想やヨガのセッション、入浴時のリフレッシュ、質の高い睡眠のサポートなど、様々な用途に適した香りが揃っています。</p>
      <%= link_to image_tag("photo/photo 09.jpg"), "items" , class: "items01" %>
    </div>
    <div class="fifth-view">
      <dl>
        <dt>ー光と香りの融合ー</dt>
        <dd>
          燃えるキャンドルの柔らかな光は、周囲の空間を温かく照らし出し、穏やかな雰囲気を醸し出します。さらに、豊かな香りが広がり、心地よいアロマ効果を提供します。リラックスした時間を過ごしたり、特別な瞬間を演出するのに最適です。
        </dd>
      </dl>
      <%= link_to image_tag("photo/photo 20.jpg"), "items" , class: "items01" %>
        <p>ぜひ、RaMNのキャンドルをご体験いただき、その魅力に包まれる贅沢なひとときをお楽しみください。</p>
    </div>
  </main>
</body>

</html>